apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
        - name: iris-api
          image: gourav1310/gitops:sha256:726a29c3a17f435e8ef1bbd9caa9fb5daf86dbb68639b993a9b694e47e0f7d20
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
---

apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
spec:
  type: NodePort
  selector:
    app: iris-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30007
